.ant-upload {
  width: 100%;
  margin-top: 12px;
}

.platform-delete-btn {
  visibility: hidden;
  transition: all 200ms;
}

.custom-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  transition: all 200ms;
}

.custom-header:hover .platform-delete-btn {
  visibility: visible;
}

.investment-platform-column {
  min-width: 300px;
}

.ant-table-tbody > tr.ant-table-row-level-0:hover > td {
  background-color: #fff !important;
}

.investment-add-platform-column {
  max-width: 50px;
}

.ant-table-cell.investment-add-platform-column .ant-table-cell-content {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}
